body {
    background-size: cover;
    background-color: white;
    margin: 0px;
    padding: 0px 2.4vw 0px 2.4vw;

}

/*-----NAVBAR-----*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 25px 0px 10px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.left-navbar-side {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    align-items: center;
}

.right-navbar-side {
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    font-size: 1.02vw;
    overflow: hidden;
    background-color: white;
    list-style-type: none;
}

.signUp-button {
    border-width: 0px;
    border-radius: 25px;
    padding: 11px 24px 11px 24px;
    background-color: #C6C3F9;
    cursor: pointer;
    font-size: 1.02vw;
}

.right-navbar-burger {
    display: none;
}

/*-----SECTION-ONE-----*/
.section-one {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

.lending-page-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#header-one {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    color: #103E53;
    padding-top: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#header-two {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 2.34vw;
    color: #F0A61C;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    letter-spacing: 8px;
}

#text-info {
    color: #BABABA;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 0.94vw;
    padding-left: 6px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 2vw;
}

.learnMore-button {
    font-family: 'Open Sans',
    sans-serif;
    border-width: 0px;
    border-radius: 25px;
    padding: 9px 0px 9px 0px;
    background-color: #C6C3F9;
    cursor: pointer;
    font-size: 1.02vw;
    color: white;
    font-weight: bold;
    width: 8.5vw;
}

    .more {
        width: 8.5vw;
    }

.lending-page-image {
    display: inline-block;
    vertical-align: top;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

#menu {
    width: auto;
    height: 25px;
    cursor: pointer;
}
