body {
    background-size: cover;
    background-color: white;
    margin: 0px;
    padding: 0px 2.4vw 0px 2.4vw;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 25px 0px 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.left-navbar-side {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    align-items: center;
}

.right-navbar-side {
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    font-size: 1.02vw;
}

.signUp-button {
    border-width: 0px;
    border-radius: 25px;
    padding: 11px 24px 11px 24px;
    background-color: #C6C3F9;
    cursor: pointer;
    font-size: 1.02vw;
}

.section-one {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.heading-one {
    display: flex;
    flex-direction: column;
}

#heading-one {
    font-size: 20px;
}

#services-image {
    width: 100px;
}


.description {
    display: flex;
    flex-direction: row;
    width: 100%;
}

